body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0b0b0b;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #000;
  position: sticky;
  top: 0;
}

.logo {
  height: 40px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
              url("images/hero.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

.btn {
  background: gold;
  padding: 12px 30px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 60px 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: #161616;
  padding: 30px;
  width: 220px;
  border-radius: 10px;
}

.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 260px;
  border-radius: 12px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 15px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}
