body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: black;
}

.logo {
    height: 45px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: url("images/banner.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
}

.btn {
    background: gold;
    padding: 12px 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1a1a1a;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 250px;
    border-radius: 10px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
}
